    table {     width: 50%;
                text-align: center;
                border-spacing: 0;
                border-collapse: collapse;
                color: black;
    }
    
    tr, td { 
            border: double;
    }  
    
    .mgt351 { 
            background-color: #B2FFE5;
    } 
    
    .paid450 {
            background-color: #F7B5B5;
    }

    .cs130 {
            background-color: #66FF66;
    }
    
    .work {
            background-color: #FFFF75;
    }
    
    .mgt360 {
            background-color: #FF3333;
    }
    
    
    

