    table {     width: 100%;
                text-align: center;
                border-spacing: 0;
                border-collapse: collapse;
                color: black;
    }
    
    tr, td { 
            border: double;
    }  
    
    .mgt351 { 
            background-color: #B2FFE5;
    } 
    
    .paid450 {
            background-color: #FF9999;
    }

    .cs130 {
            background-color: #00FF99;
    }
    
    .busy {
            background-color: #FFFF75;
    }
    
    .mgt360 {
            background-color: #6699FF;
    }
    
    .study {
            background-color: crimson;
    }
    
    caption {
            font-size: 26px;
    }
    

