table { border-style: solid;
            border-width: 1 px;
            width: 50%;
            text-align: center;
            border-spacing: 0;
            border-collapse: collapse;
    }
    
    th, tr, td { border-style: solid;
                 border-width: 1 px;
    }    
