table {     border: solid;
            border-width: 2 px;
            width: 50%;
            text-align: center;
            border-spacing: 0;
            border-collapse: collapse;
            color: green;
    }
    
    tr, td { border: solid;
                 border-width: 2 px;
    }    

