table {     border: solid;
            border-width: 2px;
            width: 50%;
            text-align: center;
            border-spacing: 0;
            border-collapse: collapse;
            color: black;
    }
    
    tr, td { border: double;
             border-width: 2 px;
    }  
    
    

