<head>  
  <style>
    table { border-style: solid;
            border-width: 1 px;
            width: 100%;
            text-align: center;
            border-spacing: 0;
            border-collapse: collapse;
    }
    
    th, tr, td { border-style: solid;
                 border-width: 1 px;
    }    
    
  </style> 
</head>
