table {     width: 50%;
            text-align: center;
            border-spacing: 0;
            border-collapse: collapse;
            color: black;
    }
    
    tr, td { border: double;
    }  
    
    

